{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 200,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always",
        "format": ""
      }
    }
  ]
}